<div class="loading-overlay" *ngIf="isLoading$ | async">
    <app-loading-dancing-squares [size]="22" [gap]="8"></app-loading-dancing-squares>
</div>
<div class="form-container">
    <div class="button-row">
        <!-- Captura de imagen -->
        <label class="general-button btn-primary btn-capture-image">
            <i class="fa fa-camera me-2"></i>
            Capturar/Subir
            <input type="file" accept="image/*" capture="environment" (change)="onSelectImage($event)" hidden>
        </label>
        <!-- Guardar -->

        <button [disabled]="!validate" (click)="onSave()" type="button" class="general-button btn-primary"><i class="fa fa-save"></i>
            Guardar</button>

        <div class="right-buttons" *ngIf="imageChangedEvent">
            <button *ngIf='showImageCropper' type="button" class="general-button btn-primary btn-sm me-1"
                (click)="toggleImageCropper()">
                <i class="fa-solid fa-eye-slash"></i> Ocultar
            </button>
            <button *ngIf='!showImageCropper' type="button" class="general-button btn-primary btn-sm me-1"
                (click)="toggleImageCropper()">
                <i class="fa-solid fa-image"></i> Mostrar
            </button>
            <button type="button" class="general-button btn-success btn-sm me-1" (click)="runOcr()">
                <i class="fas fa-book-open-reader"></i> Leer texto
            </button>
            <button [disabled]="!validate" type="button" class="general-button btn-primary btn-sm me-1">
                <i class="fas fa-save"></i> Guardar
            </button>
            <button (click)="onClose()" type="button" class="general-button btn-danger btn-sm">
                <i class="fas fa-times"></i> Cerrar
            </button>
        </div>
    </div>

    <!-- Imagen capturada / cropper -->
    <div class="mb-1" *ngIf="imageChangedEvent && showImageCropper">
        <div class="card">
            <div class="card-body p-1">
                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false" format="png"
                    (imageCropped)="onImageCropped($event)">
                </image-cropper>
            </div>
        </div>
    </div>

    <!-- Datos -->
    <div class="row mt-1">
        <h6 class="h6-header">DATOS REALES DEL PROVEEDOR</h6>
        <div class="col-md-2">
            <label class="form-label fw-semibold mb-2 d-block">R.U.C</label>
            <input maxlength="11" (input)="ruccompleto()" class="form-control" name="ruc" id="ruc" [(ngModel)]="ruc" />
        </div>
        <div class="col-md-6">
            <label class="form-label fw-semibold mb-2 d-block">Proveedor</label>
            <input class="form-control" name="proveedor" id="proveedor" [(ngModel)]="padronRuc.razonSocial" />
        </div>
        <div class="col-md-2">
            <label class="form-label fw-semibold mb-2 d-block">Estado</label>
            <input class="form-control" name="proveedor" id="proveedor" [(ngModel)]="padronRuc.estado" />
        </div>
        <div class="col-md-2">
            <label class="form-label fw-semibold mb-2 d-block">Condición</label>
            <input class="form-control" name="proveedor" id="proveedor" [(ngModel)]="padronRuc.condicion" />
        </div>
    </div>
    <div class="row">
        <div *ngIf="mensaje" class="col-md-12">
            <span class="mensaje-alerta">{{mensaje}}</span>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <label class="form-label fw-semibold mb-2 d-block">Dirección</label>
            <input class="form-control" name="direccion" id="direccion" [(ngModel)]="dataImagen.issuerAddress" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <select name="typemovement" id="typemovement"  class="form-select" [(ngModel)]="TypeMovement.idMovement">
                <option *ngFor="let tm of typeMovements" [value]="tm.idMovement">{{tm.detMovement}}</option>
            </select>
        </div>
    </div>

    <h6 class="h6-header">DATOS DEL DOCUMENTO</h6>

    <div class="row mt-2">
        <div class="col-md-3">
            <label class="form-label fw-semibold mb-2 d-block">Fecha de Documento</label>
            <input class="form-control" name="fechadoc" id="fechadoc" [(ngModel)]="dataImagen.documentDate" />
        </div>

        <div class="col-md-3">
            <label class="fform-label fw-semibold mb-2 d-block">Tipo de Documento</label>
            <input class="form-control" name="tipodoc" id="tipodoc" [(ngModel)]="dataImagen.documentType" />
        </div>

        <div class="col-md-3">
            <label class="form-label fw-semibold mb-2 d-block">Nro. Documento</label>
            <input class="form-control" name="nrodoc" id="nrodoc" [(ngModel)]="dataImagen.documentNumber" />
        </div>

        <div class="col-md-1">
            <label class="form-label fw-semibold mb-2 d-block">Moneda</label>
            <input class="form-control" name="moneda" id="moneda" [(ngModel)]="dataImagen.documentCurrency" />
        </div>

        <div class="col-md-2">
            <label class="form-label fw-semibold mb-2 d-block">Importe {{dataImagen.currency}}</label>
            <input readonly type="text" name="importe" id="importe" class="form-control text-end"
                [(ngModel)]="dataImagen.amount" currencyMask
                [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 2, nullable: true }" />
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="form-label fw-semibold mb-2 d-block">Detalle</label>
                <textarea class="form-control" rows="2" [(ngModel)]="detalle"></textarea>
            </div>
        </div>
    </div>
</div>