.form-container {
  font-size: 0.8rem;

  flex: 1 1 auto;
  min-height: 0;          /* clave para que no se recorte */
  overflow-y: auto;
  overflow-x: hidden;

  padding-right: 15px;
}

.form-container .row {
  margin-bottom: 0.5rem;
}

.btn-capture-image {
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}

.btn-capture-image:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}
