.app-footer {
  width: 100%;
  padding: 12px 16px;
  text-align: center;
  font-size: 0.7rem !important;
  background-color: var(--primary-color);
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
