.notification-wrapper {
    position: relative;
  }
  
  .badge-circle {
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: #0D104D !important; // azul
    color: white !important;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
    line-height: 18px;
    z-index: 10;
  }

  